// Primary Colors
$very-dark-blue: hsl(243, 87%, 12%);
$desaturated-blue: hsl(238, 22%, 44%);

// Accent Colors
$bright-blue: hsl(224, 93%, 58%);
$moderate-cyan: hsl(170, 45%, 43%);

// Neutral Colors
$light-grayish-blue: hsl(240, 75%, 98%);
$light-gray: hsl(0, 0%, 75%);

// Typography for Headings, Call-to-actions, Header Navigation
$title-font: 'Raleway', sans-serif;

// Typography for Body
$body-font: 'Open Sans', sans-serif;

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $body-font;
  font-size: 1rem;
  line-height: 1.5em;
  color: $desaturated-blue;
}

body * + * {
  margin-top: 1.5em;
}

h1, h2, h3, h4, h5 {
  font-family: $title-font;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  border: none;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

button:focus,
input:focus {
  outline: none;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;

    li a {
      display: block;
      color: $very-dark-blue;
      text-decoration: none;
    }
}

.horizontal-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;

    .menu-item + .menu-item {
      margin-top: 0;
    }
}

header {
  padding: 2.2em 1.3em 1.3em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;

    .logo {
      display: flex;
      flex-direction: column;
      flex: 1 1 10%;
      justify-content: center;
        img {
          width: 5em;
        }
    }

    nav {
      margin-top: 0;
      flex: 1 1 25%;
    }
}

main {
  margin-top: 4em;
}

.top-content {
  min-width: 90%;
  padding: 1.5em 1.3em;
}

.top-message-illustration-wrapper {
  padding: 1em 1em;
}

.message-illustration {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50vh;
}

.top-message-illustration {
  background-image: url("../images/illustration-1.svg");
}

.marketing {
  margin-top: 0;
}

.message {
  text-align: center;

    h3 {
      color: $very-dark-blue;
      margin-top: 0.500em;
      line-height: 1.6em;
      font-size: 1.40em;
    }

    p {
      padding-left: 0.8em;
      padding-right: 0.8em;
      color: $very-dark-blue;
    }
}

.subscription-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.subscription {
  padding-left: 0.8em;
  padding-right: 0.8em;
}

.input-subscription[type=text] {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid $desaturated-blue;
  border-radius: 3px;
  margin: 8px 0;
  font-size: 1em;

    &::placeholder {
      color: $light-gray;
      font-size: 1em;
    }
}

.btn-subscription {
  background-color: $bright-blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  margin-top: 0.7em;
  border-radius: 3px;
}

.top-btn-subscription {
  -webkit-box-shadow: 1px 3px 10px 0px rgba(226,226,226,1);
  -moz-box-shadow: 1px 3px 10px 0px rgba(226,226,226,1);
  box-shadow: 1px 3px 10px 0px rgba(226,226,226,1);
}

.bottom-content {
  margin-top: 3.5em;
  padding: 1.5em 1.3em 4.2em 1.3em;
  background-image: url("../images/bg-curve-mobile.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom-message-illustration-wrapper {
  padding-top: 1.250em;
}

.bottom-message-illustration {
  background-image: url("../images/illustration-2.svg");
}

.bottom-content .message {
  p {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
  }
}

.how-it-works {
  display: flex;
  justify-content: center;

    a {
      border-bottom: 1px solid $moderate-cyan;
      padding-bottom: 3px;
      display: flex;
      justify-content: space-between;
      align-items: center;

        img {
          margin-left: 6px;
        }
    }
}

.testimonial-wrapper {
  padding: 1.5em 0.6em;

    .testimonial {
      border-radius: 5px;
      padding: 1em 0.5em 1.5em 1.8em;
      -webkit-box-shadow: 0px 0px 8px 3px rgba(230,230,230,1);
      -moz-box-shadow: 0px 0px 8px 3px rgba(230,230,230,1);
      box-shadow: 0px 0px 8px 3px rgba(230,230,230,1);

        .quotes-mark {
          height: 0.8em;
        }

        .testimonial-text {
          margin-top: 0;
          color: $very-dark-blue;
          font-size: 0.8em;
        }

        .testimonial-author {
          display: flex;
          align-items: center;
          margin-top: 0.8em;

            .profile-picture {
              width: 40px;
              height: 40px;

                img {
                  width: 40px;
                  border-radius: 50%;
                }
            }

            .details {
              margin-top: 0;
              color: $very-dark-blue;
              line-height: 1.3em;
              margin-left: 15px;

                h4 {
                  margin-top: 0;
                  margin-bottom: 0;
                  font-size: 0.9em;
                }

                .author-title {
                  display: block;
                  font-size: 0.7em;
                  font-weight: normal;
                }
            }
        }
    }
}

.sub-content {
  margin-top: 0;
  background-color: $desaturated-blue;
  padding: 3em 2.2em 6em 2.2em;

    .message h3,
    .message p {
      color: $light-grayish-blue;
    }

    .subscription {

        .input-subscription {
          margin-bottom: 0.750em;
        }

        .bottom-btn-subscription {
          margin-top: 0;
        }
    }

    .input-subscription {
      -webkit-box-shadow: 1px 2px 2px -1px rgba(112,108,112,0.58);
      -moz-box-shadow: 1px 2px 2px -1px rgba(112,108,112,0.58);
      box-shadow: 1px 2px 2px -1px rgba(112,108,112,0.58);
    }

    .bottom-btn-subscription {
      -webkit-box-shadow: 1px 2px 2px -1px rgba(112,108,112,0.58);
      -moz-box-shadow: 1px 2px 2px -1px rgba(112,108,112,0.58);
      box-shadow: 1px 2px 2px -1px rgba(112,108,112,0.58);
    }
}

footer {
  margin-top: 0;
  padding: 4em 3em 1em 3em;
  background-color: $very-dark-blue;
  color: $light-grayish-blue;
  font-size: 0.9em;

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
     color: hsl(228, 45%, 44%);
  }

  .attribution span {
     display: block;
  }

  .attribution span + span {
     margin-top: 0;
  }
}

footer .company-details {
  .logo {
    margin-bottom: 60px;
  }

  .details-icon {
    margin-right: 15px;
  }

  .phone,
  .email {
    display: flex;
    align-items: baseline;
  }

  .email {
    margin-top: 0;
  }
}

footer .other-links {
  margin-bottom: 4em;

    .menu {
      line-height: 0.9em;
    }

    .main {
      margin-top: 60px;
      margin-bottom: 60px;
    }

    .social {
      margin-top: 60px;
      display: flex;
      justify-content: center;


      .social-icon + .social-icon {
        margin-top: 0;
      }

      .social-icon {
        margin-right: 11px;

          &:last-child {
            margin-right: 0;
          }
      }

      .social-icon .fab {
        padding: 9px;
        font-size: 14px;
        color: $light-grayish-blue;
        text-align: center;
        text-decoration: none;
        border: 1px solid $light-grayish-blue;
        border-radius: 50%;
      }
    }
}


/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  //CSS

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  header {
    padding-left: 2em;
    padding-right: 2em;

      .logo {

        img {
          width: 6.5em;
        }
      }
  }

  .top-content {
    padding-left: 2em;
    padding-right: 2em;
  }

  .bottom-content {
    padding-left: 2em;
    padding-right: 2em;
  }

  .horizontal-menu {
    font-size: 1.2em;
  }

  .message-illustration {
    height: 80vh;
  }

  .marketing .message {

      h3 {
        font-size: 2em;
      }

      p {
        font-size: 1.3em;
      }
  }

  .marketing .subscription {

      .input-subscription {
        font-size: 1.2em;
      }

      .btn-subscription {
        font-size: 1.2em;
      }
  }

  .marketing .testimonial-wrapper {
    display: flex;
    justify-content: center;
  }

  .marketing .testimonial {

    max-width: 90%;

      .testimonial-text {
        font-size: 1em;
      }

      .testimonial-author {

          .profile-picture {
            height: 50px;
            width: 50px;

              img {
                width: 50px;
              }
          }

          .details h4 {
            font-size: 1em;
          }

          .details .author-title {
            font-size: 0.8em;
          }
      }
  }

  .sub-content {

      .message {

          h3 {
            font-size: 2em;
          }

          p {
            font-size: 1.3em;
          }
      }

      .subscription {
        max-width: 90%;
      }
  }

  footer {
    font-size: 1em;

      .social-icon .fab {
        padding: 10px;
        font-size: 16px;
      }
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  //CSS

}
