:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  color: #585989;
}

body * + * {
  margin-top: 1.5em;
}

h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  border: none;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

button:focus,
input:focus {
  outline: none;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li a {
  display: block;
  color: #070439;
  text-decoration: none;
}

.horizontal-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}
.horizontal-menu .menu-item + .menu-item {
  margin-top: 0;
}

header {
  padding: 2.2em 1.3em 1.3em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  display: flex;
  flex-direction: column;
  flex: 1 1 10%;
  justify-content: center;
}
header .logo img {
  width: 5em;
}
header nav {
  margin-top: 0;
  flex: 1 1 25%;
}

main {
  margin-top: 4em;
}

.top-content {
  min-width: 90%;
  padding: 1.5em 1.3em;
}

.top-message-illustration-wrapper {
  padding: 1em 1em;
}

.message-illustration {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50vh;
}

.top-message-illustration {
  background-image: url("../images/illustration-1.svg");
}

.marketing {
  margin-top: 0;
}

.message {
  text-align: center;
}
.message h3 {
  color: #070439;
  margin-top: 0.5em;
  line-height: 1.6em;
  font-size: 1.4em;
}
.message p {
  padding-left: 0.8em;
  padding-right: 0.8em;
  color: #070439;
}

.subscription-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscription {
  padding-left: 0.8em;
  padding-right: 0.8em;
}

.input-subscription[type=text] {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #585989;
  border-radius: 3px;
  margin: 8px 0;
  font-size: 1em;
}
.input-subscription[type=text]::placeholder {
  color: #bfbfbf;
  font-size: 1em;
}

.btn-subscription {
  background-color: #3065f8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  margin-top: 0.7em;
  border-radius: 3px;
}

.top-btn-subscription {
  -webkit-box-shadow: 1px 3px 10px 0px #e2e2e2;
  -moz-box-shadow: 1px 3px 10px 0px #e2e2e2;
  box-shadow: 1px 3px 10px 0px #e2e2e2;
}

.bottom-content {
  margin-top: 3.5em;
  padding: 1.5em 1.3em 4.2em 1.3em;
  background-image: url("../images/bg-curve-mobile.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom-message-illustration-wrapper {
  padding-top: 1.25em;
}

.bottom-message-illustration {
  background-image: url("../images/illustration-2.svg");
}

.bottom-content .message p {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}

.how-it-works {
  display: flex;
  justify-content: center;
}
.how-it-works a {
  border-bottom: 1px solid #3c9f8f;
  padding-bottom: 3px;
  color: #3c9f8f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.how-it-works a img {
  margin-left: 6px;
}

.testimonial-wrapper {
  padding: 1.5em 0.6em;
  display: flex;
  justify-content: center;
}
.testimonial-wrapper .testimonial {
  max-width: 90%;
  border-radius: 5px;
  padding: 1em 0.5em 1.5em 1.8em;
  -webkit-box-shadow: 0px 0px 8px 3px #e6e6e6;
  -moz-box-shadow: 0px 0px 8px 3px #e6e6e6;
  box-shadow: 0px 0px 8px 3px #e6e6e6;
}
.testimonial-wrapper .testimonial .quotes-mark {
  height: 0.8em;
}
.testimonial-wrapper .testimonial .testimonial-text {
  margin-top: 0;
  color: #070439;
  font-size: 0.8em;
}
.testimonial-wrapper .testimonial .testimonial-author {
  display: flex;
  align-items: center;
  margin-top: 0.8em;
}
.testimonial-wrapper .testimonial .testimonial-author .profile-picture {
  width: 40px;
  height: 40px;
}
.testimonial-wrapper .testimonial .testimonial-author .profile-picture img {
  width: 40px;
  border-radius: 50%;
}
.testimonial-wrapper .testimonial .testimonial-author .details {
  margin-top: 0;
  color: #070439;
  line-height: 1.3em;
  margin-left: 15px;
}
.testimonial-wrapper .testimonial .testimonial-author .details h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9em;
}
.testimonial-wrapper .testimonial .testimonial-author .details .author-title {
  display: block;
  font-size: 0.7em;
  font-weight: normal;
}

.sub-content {
  margin-top: 0;
  background-color: #585989;
  padding: 3em 2.2em 6em 2.2em;
}
.sub-content .message h3 {
  color: #f6f6fe;
}
.sub-content .message p {
  color: #bfbfbf;
}
.sub-content .subscription .input-subscription {
  margin-bottom: 0.75em;
}
.sub-content .subscription .bottom-btn-subscription {
  margin-top: 0;
}
.sub-content .input-subscription {
  -webkit-box-shadow: 1px 2px 2px -1px rgba(112, 108, 112, 0.58);
  -moz-box-shadow: 1px 2px 2px -1px rgba(112, 108, 112, 0.58);
  box-shadow: 1px 2px 2px -1px rgba(112, 108, 112, 0.58);
}
.sub-content .bottom-btn-subscription {
  -webkit-box-shadow: 1px 2px 2px -1px rgba(112, 108, 112, 0.58);
  -moz-box-shadow: 1px 2px 2px -1px rgba(112, 108, 112, 0.58);
  box-shadow: 1px 2px 2px -1px rgba(112, 108, 112, 0.58);
}

footer {
  margin-top: 0;
  padding: 4em 3em 1em 3em;
  background-color: #070439;
  color: #f6f6fe;
  font-size: 0.9em;
}
footer .attribution {
  font-size: 0.575em;
  text-align: center;
}
footer .attribution a {
  color: #3e52a3;
}
footer .attribution span {
  display: block;
}
footer .attribution span + span {
  margin-top: 0;
}

footer .company-details .logo {
  margin-bottom: 60px;
}
footer .company-details .details-icon {
  margin-right: 15px;
}
footer .company-details .phone,
footer .company-details .email {
  display: flex;
  align-items: baseline;
}
footer .company-details .email {
  margin-top: 0;
}

footer .other-links {
  margin-bottom: 4em;
}
footer .other-links .menu {
  line-height: 0.9em;
}
footer .other-links .main {
  margin-top: 60px;
  margin-bottom: 60px;
}
footer .other-links .social {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
footer .other-links .social .social-icon + .social-icon {
  margin-top: 0;
}
footer .other-links .social .social-icon {
  margin-right: 11px;
}
footer .other-links .social .social-icon:last-child {
  margin-right: 0;
}
footer .other-links .social .social-icon .fab {
  padding: 9px;
  font-size: 14px;
  color: #f6f6fe;
  text-align: center;
  text-decoration: none;
  border: 1px solid #f6f6fe;
  border-radius: 50%;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  header {
    padding-top: 5em;
    padding-left: 4em;
    padding-right: 4em;
  }
  header .logo {
    flex: 70%;
  }
  header .logo img {
    width: 10em;
  }
  header nav .horizontal-menu {
    font-size: 1em;
  }

  main {
    margin-top: 2em;
  }

  .top-content {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-left: 4em;
    padding-right: 4em;
    min-height: 500px;
  }
  .top-content .top-message-illustration-wrapper {
    flex: 50%;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin-left: 5em;
  }
  .top-content .marketing {
    flex: 50%;
    order: 1;
  }
  .top-content .marketing .message h3 {
    margin-top: 0;
    padding-top: 2.5em;
  }
  .top-content .marketing .subscription-wrapper {
    padding-right: 5em;
  }

  .message-illustration {
    height: 100%;
    width: 100%;
  }

  .subscription-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .subscription-wrapper .subscription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .subscription-wrapper .subscription .input-subscription[type=text] {
    width: 57%;
    padding: 12px 15px;
    margin: 0;
    font-size: 0.9em;
  }
  .subscription-wrapper .subscription .btn-subscription {
    width: 40%;
    padding: 12px 15px;
    margin-top: 0;
    font-size: 0.9em;
  }

  .marketing .message {
    text-align: left;
  }
  .marketing .message h3 {
    font-size: 2.2em;
  }
  .marketing .message p {
    padding-left: 0;
    padding-right: 0;
    font-size: 1.1em;
  }

  .bottom-content {
    padding-left: 4em;
    padding-right: 4em;
    display: flex;
    padding-top: 8em;
  }
  .bottom-content .marketing {
    flex: 50%;
    order: 1;
  }
  .bottom-content .marketing .message p {
    padding-right: 10em;
  }
  .bottom-content .marketing .message .how-it-works {
    justify-content: flex-start;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .bottom-content .marketing .testimonial-wrapper {
    padding-top: 1em;
    padding-left: 0;
    padding-right: 0;
    justify-content: flex-start;
    max-width: 60%;
  }
  .bottom-content .bottom-message-illustration-wrapper {
    flex: 40%;
    order: 2;
    padding-top: 0;
  }
  .bottom-content .bottom-message-illustration-wrapper .message-illustration {
    height: 80%;
  }

  .sub-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4em;
  }
  .sub-content .message {
    text-align: left;
    flex: 50%;
    padding-right: 10em;
  }
  .sub-content .message h3 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  .sub-content .message p {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .sub-content .subscription-wrapper {
    flex: 30%;
    margin-top: 0;
    align-items: center;
  }
  .sub-content .subscription-wrapper .subscription {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex: 60%;
  }
  .sub-content .subscription-wrapper .subscription .input-subscription {
    width: 92%;
  }
  .sub-content .subscription-wrapper .subscription .bottom-btn-subscription {
    margin-top: 1em;
    width: 45%;
    padding-left: 30px;
    padding-right: 30px;
  }

  footer {
    padding: 7em 4em 2em 4em;
  }
  footer .main-inner-wrapper {
    display: flex;
    justify-content: space-between;
  }
  footer .main-inner-wrapper .company-details {
    flex: 20%;
  }
  footer .main-inner-wrapper .company-details .logo {
    margin-bottom: 1em;
  }
  footer .main-inner-wrapper .company-details .phone {
    margin-top: 0.5em;
  }
  footer .main-inner-wrapper .company-details .phone span + span {
    margin-top: 0;
  }
  footer .main-inner-wrapper .company-details .email {
    margin-top: 1em;
  }
  footer .main-inner-wrapper .company-details .email span + span {
    margin-top: 0;
  }
  footer .main-inner-wrapper .other-links {
    flex: 50%;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 5em;
    padding-right: 10em;
  }
  footer .main-inner-wrapper .other-links .main {
    margin-top: 0;
    margin-bottom: 0;
  }
  footer .main-inner-wrapper .other-links .other {
    margin-top: 0;
  }
  footer .main-inner-wrapper .other-links .social {
    margin-top: 0;
  }
  footer .attribution {
    margin-top: 6em;
    font-size: 0.781em;
  }
  footer .attribution span {
    display: inline;
  }
}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  header {
    padding-left: 4em;
    padding-right: 4em;
  }
  header .logo img {
    width: 7em;
  }

  .top-content {
    padding-left: 4em;
    padding-right: 4em;
  }

  .bottom-content {
    padding-left: 4em;
    padding-right: 4em;
  }

  .horizontal-menu {
    font-size: 1.5em;
  }

  .message-illustration {
    height: 90vh;
  }

  .marketing .message h3 {
    font-size: 2.6em;
  }
  .marketing .message p {
    font-size: 1.6em;
    line-height: 1.6em;
  }

  .marketing .subscription .input-subscription,
.sub-content .subscription .input-subscription {
    font-size: 1.5em;
  }
  .marketing .subscription .btn-subscription,
.sub-content .subscription .btn-subscription {
    font-size: 1.5em;
  }

  .marketing .message .how-it-works a img {
    width: 18px;
    height: 18px;
  }

  .marketing .testimonial {
    max-width: 75%;
  }
  .marketing .testimonial .testimonial-text {
    font-size: 1.2em;
  }
  .marketing .testimonial .testimonial-author .profile-picture {
    height: 60px;
    width: 60px;
  }
  .marketing .testimonial .testimonial-author .profile-picture img {
    width: 60px;
  }
  .marketing .testimonial .testimonial-author .details h4 {
    font-size: 1.2em;
  }
  .marketing .testimonial .testimonial-author .details .author-title {
    font-size: 0.9em;
  }

  .sub-content .message h3 {
    font-size: 2.6em;
  }
  .sub-content .message p {
    font-size: 1.6em;
    line-height: 1.6em;
  }
  .sub-content .subscription {
    max-width: 75%;
  }

  footer {
    font-size: 1.2em;
  }
  footer .social-icon .fab {
    padding: 14px;
    font-size: 20px;
  }
  footer .attribution {
    font-size: 0.625em;
    text-align: center;
  }
}
/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  header {
    padding-left: 4em;
    padding-right: 4em;
  }
  header .logo img {
    width: 7em;
  }

  .top-content {
    padding-left: 4em;
    padding-right: 4em;
  }

  .bottom-content {
    padding-left: 4em;
    padding-right: 4em;
  }

  .horizontal-menu {
    font-size: 1.5em;
  }

  .message-illustration {
    height: 90vh;
  }

  .marketing .message h3 {
    font-size: 2.6em;
  }
  .marketing .message p {
    font-size: 1.6em;
    line-height: 1.6em;
  }

  .marketing .subscription .input-subscription,
.sub-content .subscription .input-subscription {
    font-size: 1.5em;
  }
  .marketing .subscription .btn-subscription,
.sub-content .subscription .btn-subscription {
    font-size: 1.5em;
  }

  .marketing .message .how-it-works a img {
    width: 18px;
    height: 18px;
  }

  .marketing .testimonial {
    max-width: 75%;
  }
  .marketing .testimonial .testimonial-text {
    font-size: 1.2em;
  }
  .marketing .testimonial .testimonial-author .profile-picture {
    height: 60px;
    width: 60px;
  }
  .marketing .testimonial .testimonial-author .profile-picture img {
    width: 60px;
  }
  .marketing .testimonial .testimonial-author .details h4 {
    font-size: 1.2em;
  }
  .marketing .testimonial .testimonial-author .details .author-title {
    font-size: 0.9em;
  }

  .sub-content .message h3 {
    font-size: 2.6em;
  }
  .sub-content .message p {
    font-size: 1.6em;
    line-height: 1.6em;
  }
  .sub-content .subscription {
    max-width: 75%;
  }

  footer {
    font-size: 1.2em;
  }
  footer .social-icon .fab {
    padding: 14px;
    font-size: 20px;
  }
  footer .attribution {
    font-size: 0.625em;
    text-align: center;
  }
}
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  header {
    padding-left: 2em;
    padding-right: 2em;
  }
  header .logo img {
    width: 6.5em;
  }

  .top-content {
    padding-left: 2em;
    padding-right: 2em;
  }

  .bottom-content {
    padding-left: 2em;
    padding-right: 2em;
  }

  .horizontal-menu {
    font-size: 1.2em;
  }

  .message-illustration {
    height: 80vh;
  }

  .marketing .message h3 {
    font-size: 2em;
  }
  .marketing .message p {
    font-size: 1.3em;
  }

  .marketing .subscription .input-subscription {
    font-size: 1.2em;
  }
  .marketing .subscription .btn-subscription {
    font-size: 1.2em;
  }

  .marketing .testimonial {
    max-width: 90%;
  }
  .marketing .testimonial .testimonial-text {
    font-size: 1em;
  }
  .marketing .testimonial .testimonial-author .profile-picture {
    height: 50px;
    width: 50px;
  }
  .marketing .testimonial .testimonial-author .profile-picture img {
    width: 50px;
  }
  .marketing .testimonial .testimonial-author .details h4 {
    font-size: 1em;
  }
  .marketing .testimonial .testimonial-author .details .author-title {
    font-size: 0.8em;
  }

  .sub-content .message h3 {
    font-size: 2em;
  }
  .sub-content .message p {
    font-size: 1.3em;
  }
  .sub-content .subscription {
    max-width: 90%;
  }

  footer {
    font-size: 1em;
  }
  footer .social-icon .fab {
    padding: 10px;
    font-size: 16px;
  }
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

/*# sourceMappingURL=styles.css.map */
